.profile__edit-button {
    background-image: url(../../../images/profile-Edit-Button.svg);
    background-position: center;
    width: 24px;
    height: 24px;
    margin-left: 18px;
}

@media(min-width: 320px) and (max-width: 530px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}